#Because macOS

*.asm text eol=auto
*.inc text eol=auto
*.py text eol=auto
*.sh text eol=lf
*.txt text eol=auto
*.md text eol=auto
*.wikitext text eol=auto
*.csv text eol=lf

.gitignore text eol=auto
.gitattributes text eol=auto
.gitmodules text eol=auto
Makefile text eol=auto
README text eol=auto
